<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/request-calc/receive-calc}" method="post">
        数字を入力してください<br>
        <input type="text" name="num1">
        <select name="operator">
            <option value="add" selected>+</option>
            <option value="subtract">-</option>
            <option value="multiple">×</option>
            <option value="divide">÷</option>
        </select>
        <input type="text" name="num2"><br>
        <button>送信</button>

    </form>
</body>
</html>